<p>Dear <%= @user.name %>,</p>

<p>Welcome to ArtsReady!</p>

<p>Your organization, <%= @organization.name %>, is now fully engaged in the ArtsReady movement to make preparedness a priority at your organization and in the arts community. As a Premium Member your organization can develop and maintain a customized readiness strategy with the ArtsReady platform.</p>

<p>Your login is your email address: <%= @user.email %></p>

<p>Go to your <%= link_to "Dashboard", dashboard_url %> and get started on your plan!</p>

<p>If you have any questions, please contact us at admin@artsready.org.</p>

<p>Happy Planning-<br>
The ArtsReady Team</p>

<p>No matter what happens today,<br> 
be able to do tomorrow what you were doing yesterday.</p>