<p>Your ArtsReady account for <%= @organization.name %> will expire soon. </p>
<br />
<p>
	Please login to your account, visit billing, and setup your subscription payment as soon as possible so you do not lose access to your organization's business continuity planning With ArtsReady.
</p>
<br />
