<hgroup class="grid_12">
  <h1>Edit Public Page</h1>
  <%= button_to 'Delete This Page', [:admin, @page], method: :delete,
      confirm: "Really delete #{@page.title}?"
  %>
</hgroup>

<%= render 'form' %>

<p class="grid_12">
  <%= link_to "View All", admin_pages_path %>
</p>