<h1>Test:
  <%= completed_answers_count %>
  /
  <%= answers_count %>
</h1>

<ul>
  <% _.each(answers, function(answer) { %>
     <div class="section">
      <%= answer.question_description %>
    </div>
 <% }); %>
</ul>

