--- 
http_interactions: 
- request: 
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=100%20Test%20St,%20New%20York,%20NY,%2010001&language=en&sensor=false
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=UTF-8
      Alternate-Protocol: 
      - 80:quic
    body: 
      encoding: US-ASCII
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Test Kitchen",
                       "short_name" : "Test Kitchen",
                       "types" : [ "point_of_interest", "establishment" ]
                    },
                    {
                       "long_name" : "88",
                       "short_name" : "88",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "West Broadway",
                       "short_name" : "W Broadway",
                       "types" : [ "route" ]
                    },
                    {
                       "long_nam[...]
