<article>
  <% if @article.link.present? %>
  <div>URL: <%= link_to @article.link, @article.link, :target => '_blank' %></div>
  <% end %>
  <% if @article.document.present? %>
  <div><%= link_to "Download", @article.document.url, :target => '_blank' %></div>
  <% end %>
  <div><%= @article.to_html %></div>
</article>
