<hgroup>
  <h1>Edit Article</h1>
  <p><%= link_to "Need help?", page_path('help_library') %></p>
  
</hgroup>

<%= render 'form' %>

<p>
  <%= link_to "Show", @article %> |
  <%= link_to "View All", articles_path %>
</p>
