/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

q {
  &:before, &:after {
    content: '';
    content: none; } }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

body {
  margin: 0;
  font: 13px / 1.2 Arial, Helvetica, sans-serif;
  *font-size: small; }

select, input, textarea, button {
  font: 99% sans-serif; }

pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

body, select, input, textarea {
  color: #444; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

html {
  overflow-y: scroll; }

a {
  text-decoration: none;
  color: #c31d29;
  &:hover {
    outline: none; }
  &:active {
    outline: none;
    color: #c31d29; }
  &:visited {
    color: #c31d29; }
  &:hover {
    color: #e5303c; }
  &:active {
    position: relative;
    top: 1px; } }

input[type=submit].linklike {
  text-decoration: underline;
  background: none;
  border: none;
  padding: 0;
  font-weight: normal;
  color: inherit;
  font-size: inherit;
}
ul, ol, p, .input {
  margin: 0 10px 10px;
}

ol {
  list-style-type: decimal;
  list-style-position: inside; }

ul p, ol p {
  margin-left: 0;
  margin-right: 0; }

ul {
  &.plain li {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  &.indented li {
    margin-left: 15px; } }

.blue-box {
  padding: 10px;
  margin: 10px;
  margin-bottom: 20px;
  border: 1px solid #525e96;
  background: #cee1f3;
  p {
    margin: 0;
    margin-bottom: 10px; } }

nav {
  ul, li {
    margin: 0; } }

small {
  font-size: 85%; }

strong, th {
  font-weight: bold; }

td {
  vertical-align: top;
  img {
    vertical-align: top; } }

sub {
  vertical-align: sub;
  font-size: smaller; }

sup {
  vertical-align: super;
  font-size: smaller; }

pre {
  padding: 15px;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word; }

textarea {
  overflow: auto; }

.ie6 legend, .ie7 legend {
  margin-left: -7px; }

input {
  &[type="radio"] {
    vertical-align: text-bottom; }
  &[type="checkbox"] {
    vertical-align: bottom; } }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

input {
  &[type=button], &[type=submit] {
    cursor: pointer; } }

button {
  cursor: pointer;
  margin: 0; }

input, select, textarea {
  margin: 0; }

section {
  clear: both;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  overflow: hidden;
  &:last-child {
    border-bottom: 0; } }

input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red; }

input {
  &[type="text"], &[type="password"] {
    border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) inset;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) inset;
    background: #fff;
    border-bottom-color: #ddd;
    width: 98%; } }

.input {
  &.date {
    .hint {
      display: block; // for very long hint on next billing date
    }
  }

  &.field_with_errors {
    label { color: red; }
    input, textarea {
      background-color: #ffeeee;
    }
    .error {
      display: block;
      color: red;
    }
  }
}

textarea {
  border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) inset;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) inset;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) inset;
  background: #fff;
  border-bottom-color: #ddd;
  width: 100%; }

table {
  input {
    &[type="text"], &[type="password"] {
      width: auto; } }
  textarea {
    width: auto; } }

time {
  font-size: 10px;
  text-transform: uppercase;
  color: #777; }

label {
  display: block;
  margin-left: 5px;
  font-weight: bold;
  &.inline { display: inline; margin: 0; }
  &.label {
    font-weight: bold; } }

.f-left {
  float: left; }

.f-right {
  float: right; }

img {
  &.f-left {
    margin: 0 10px 5px 0; }
  &.f-right {
    margin: 0 0 5px 10px; } }

.half {
  width: 50%; }

.third {
  width: 33.33%; }

a:link {
  -webkit-tap-highlight-color: #FF5E99; }

button {
  width: auto;
  overflow: visible; }

.ie7 img {
  -ms-interpolation-mode: bicubic; }

.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr; }

.hidden {
  display: none;
  visibility: hidden; }

.visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px); }

.invisible {
  visibility: hidden; }

.clearfix {
  zoom: 1;
  &:before {
    content: "\0020";
    display: block;
    height: 0;
    visibility: hidden; }
  &:after {
    content: "\0020";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both; } }

@font-face {
  font-family: 'AdelleLight';
  src: url("../fonts/typetogether_adelle-light-webfont.eot");
  src: url("../fonts/typetogether_adelle-light-webfont.eot?iefix") format("eot"), url("../fonts/typetogether_adelle-light-webfont.woff") format("woff"), url("../fonts/typetogether_adelle-light-webfont.ttf") format("truetype"), url("../fonts/typetogether_adelle-light-webfont.svg#webfontauKhmN1B") format("svg");
  font-weight: normal;
  font-style: normal; }


@font-face {
  font-family: 'AdelleRegular';
  src: url("../fonts/typetogether_adelle-regular-webfont.eot");
  src: url("../fonts/typetogether_adelle-regular-webfont.eot?iefix") format("eot"), url("../fonts/typetogether_adelle-regular-webfont.woff") format("woff"), url("../fonts/typetogether_adelle-regular-webfont.ttf") format("truetype"), url("../fonts/typetogether_adelle-regular-webfont.svg#webfont4Tg7qTLx") format("svg");
  font-weight: normal;
  font-style: normal; }


@font-face {
  font-family: 'AdelleSemiBold';
  src: url("../fonts/typetogether_adelle-semibold-webfont.eot");
  src: url("../fonts/typetogether_adelle-semibold-webfont.eot?iefix") format("eot"), url("../fonts/typetogether_adelle-semibold-webfont.woff") format("woff"), url("../fonts/typetogether_adelle-semibold-webfont.ttf") format("truetype"), url("../fonts/typetogether_adelle-semibold-webfont.svg#webfontszW17qU2") format("svg");
  font-weight: normal;
  font-style: normal; }


/* Primary Styles
   Author: 
*/

h1, h2 {
  padding: 0 10px;
  color: #153041;
  font-family: "AdelleRegular"; }

h3 {
  padding: 0 10px;
  color: #153041;
  font-family: "AdelleRegular";
  &.plain {
    font-family: Arial, Helvetica, sans-serif; } }

h1 {
  font-size: 32px;
  margin-bottom: 20px; }

h2 {
  font-size: 22px; }

h3 {
  font-size: 20px;
  font-size: 17px; }

h4 {
  font-size: 13px; }

hgroup {
  padding-bottom: 5px;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px; }

.field, .input {
  margin-bottom: 20px;
  input {
    width: 95%;
    &[type=checkbox], &[type=radio] {
      width: auto;
    }
  }
  textarea {
    width: 95%;
    &.tall {
      height: 500px; } } }

html {
  height: auto !important;
  min-height: 100%;
  height: 100%; }

body {
  height: auto !important;
  min-height: 100%;
  height: 100%;
  background: #f2f8fc;
  zoom: 1;
  background: -webkit-gradient(linear, left top, left 150, from(#abd1ea), to(#f2f8fc));
  background: -moz-linear-gradient(0% 150px 90deg, #f2f8fc, #abd1ea);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#abd1ea', endColorstr='#f2f8fc'); }

header {
  background: -moz-radial-gradient(450px 50%, circle, #eaf4f9 0px, rgba(255, 255, 255, 0) 450px) no-repeat;
  background: -webkit-gradient(radial, 450 0%, 0, center 0%, 450, from(#eaf4f9), to(rgba(255, 255, 255, 0))) no-repeat; }

h1.logo {
  width: 150px;
  float: left;
  font-size: 16px;
  margin-bottom: 0;
  a {
    float: left;
    display: block;
    width: 150px;
    height: 90px;
    margin: 10px 5px 0 0;
    text-indent: -9999px;
    background: url("../images/logo.png") no-repeat; }
  .company-name {
    color: #28387d;
    display: block;
    margin-top: 25px;
    text-shadow: 1px 1px #fff; } }

header {
  .user-nav {
    float: right;
    margin: 5px 0;
    padding: 0;
    #logged-in-status {
      float: right;
      padding: 5px; }
    ul {
      overflow: hidden;
      float: right;
      border: 1px solid #bbb;
      font-weight: bold;
      vertical-align: middle;
      cursor: pointer;
      font-size: 12px;
      text-decoration: none;
      letter-spacing: normal;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      background-color: #eee;
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#eeeeee));
      background-image: -moz-linear-gradient(center top, white, #eeeeee);
      box-shadow: 0 1px 1px 1px rgba(255, 255, 255, 0.25) inset;
      -moz-box-shadow: 0 1px 1px 1px rgba(255, 255, 255, 0.25) inset;
      -webkit-box-shadow: 0 1px 1px 1px rgba(255, 255, 255, 0.25) inset; }
    li {
      list-style: none;
      float: left;
      border-right: 1px solid #ccc;
      box-shadow: 1px 0 #fff;
      -moz-box-shadow: 1px 0 #fff;
      -webkit-box-shadow: 1px 0 #fff;
      &:last-child {
        border-right: none;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none; } }
    a {
      color: #444;
      font-weight: normal;
      display: block;
      padding: 5px 10px; } }
  nav {
    float: right;
    clear: right; } }

.ie7 header nav {
  width: 740px; }

header nav {
  ul {
    float: right;
    background: #525e96;
    border: 1px solid #525e96;
    border-radius: 5px;
    -moz-border-radius: 5px;
    zoom: 1;
    background: -webkit-gradient(linear, left top, left bottom, from(#525e96), to(#28387d));
    background: -moz-linear-gradient(top, #525e96, #28387d);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#525e96', endColorstr='#28387d');
    box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.5) inset;
    -moz-box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.5) inset;
    -webkit-box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.5) inset; }
  li {
    float: left;
    display: block;
    margin-right: 3px; }
  a {
    color: #fff;
    float: left;
    padding: 10px 6px;
    text-transform: uppercase;
    border-right: 1px solid #28387d;
    font-size: 11px;
    box-shadow: 1px 0px 0 rgba(255, 255, 255, 0.15);
    -moz-box-shadow: 1px 0px 0 rgba(255, 255, 255, 0.15);
    -webkit-box-shadow: 1px 0px 0 rgba(255, 255, 255, 0.15); }
  li:last-child a {
    border-right: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none; }
  a {
    &:visited, &:hover {
      color: #fff; } }
  li input[type="text"] {
    margin: 4px 5px 0;
    padding-left: 25px;
    width: 75px;
    border: none; }
  input[type="text"] {
    background: white url("../images/icon-search.png") 7px 5px no-repeat; } }

.content .container {
  background: #fff;
  border: 1px solid #ddd;
  padding: 30px 0;
  border-radius: 8px;
  -moz-border-radius: 8px;
  box-shadow: 0px 2px 4px #abd1ea;
  -moz-box-shadow: 0px 2px 4px #abd1ea;
  -webkit-box-shadow: 0px 2px 4px #abd1ea; }

.article-tools {
  float: right;
  background: #f3f3f3;
  border-radius: 5px;
  -moz-border-radius: 5px;
  margin-top: 10px;
  border: 1px solid #eee;
  box-shadow: 0px 1px 2px white inset;
  -moz-box-shadow: 0px 1px 2px white inset;
  -webkit-box-shadow: 0px 1px 2px white inset;
  li {
    float: left;
    display: inline-block;
    padding: 8px;
    list-style: none;
    a {
      color: #777; } } }

.icon-print, .icon-share, .icon-email, .icon-list, .icon-delete {
  padding: 8px 0;
  padding-left: 28px;
  background-position: center left;
  background-repeat: no-repeat; }

.icon-print {
  background-image: url("../images/icon-printer.png"); }

.icon-share {
  background-image: url("../images/icon-share.png"); }

.icon-email {
  background-image: url("../images/icon-email.png"); }

.icon-list {
  background-image: url("../images/icon-list.png"); }

.icon-delete {
  background-image: url("../images/icon-delete.png"); }

.icon-action, .icon-resources {
  padding: 5px 0 5px 40px;
  background-position: 10px 2px;
  background-repeat: no-repeat; }

.icon-action {
  background-image: url("../images/icon-action.png"); }

.icon-resources {
  background-image: url("../images/icon-resources.png"); }

.comments li {
  list-style: none;
  border: 1px solid #ddd;
  background: #fafafa; }

.comments-meta {
  border-bottom: 1px solid #ddd;
  background: #ddd;
  margin-bottom: 5px;
  p {
    margin-bottom: 0; } }

.comments li p {
  padding: 5px 10px; }

.tag-cloud {
  li {
    display: inline; }
  a {
    color: green;
    white-space: nowrap; }
  .size-1 {
    font-size: 24px; }
  .size-2 {
    font-size: 20px; }
  .size-3 {
    font-size: 16px; }
  .size-4 {
    font-size: 14px; }
  .size-5 {
    font-size: 12px; }
  .size-6 {
    font-size: 10px; } }

aside {
  margin-top: 30px;
  border: 3px double #eee;
  padding: 10px;
  box-shadow: 0 2px 2px #ddd;
  -webkit-box-shadow: 0 2px 2px #ddd;
  -moz-box-shadow: 0 2px 2px #ddd; }

table {
  width: 100%;
  border: 2px solid #28387d; }

thead, tfoot {
  td {
    background-color: #525e96;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#525e96), to(#28387d));
    background-image: -moz-linear-gradient(100% 100% 90deg, #28387d, #525e96);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#525e96', endColorstr='#28387d');
    box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.5) inset;
    -moz-box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.5) inset;
    -webkit-box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.5) inset;
    border: 1px solid #28387d;
    font-size: 80%;
    text-transform: uppercase;
    color: #fff; }
  th {
    background-color: #525e96;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#525e96), to(#28387d));
    background-image: -moz-linear-gradient(100% 100% 90deg, #28387d, #525e96);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#525e96', endColorstr='#28387d');
    box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.5) inset;
    -moz-box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.5) inset;
    -webkit-box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.5) inset;
    border: 1px solid #28387d;
    font-size: 80%;
    text-transform: uppercase;
    margin: 5px, 10px;
    color: #fff; } }

table p {
  margin: 5px 10px; }

tbody {
  td {
    vertical-align: middle;
    border: 1px solid #ccc;
    height: 40px;
    zoom: 1;
    background: -webkit-gradient(linear, left top, left 150, from(white), to(#dddddd));
    background: -moz-linear-gradient(0% 100% 90deg, #dddddd, white);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dddddd'); }
  tr:hover td {
    background: #fffce0;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fffef2), to(#fffce0));
    background-image: -moz-linear-gradient(100% 100% 90deg, #fffce0, #fffef2); } }

.side-nav {
  margin: 15px 0px 0 10px;
  li {
    list-style: none;
    a {
      list-style: none;
      border: 1px solid #ccc;
      border-bottom-color: #999;
      padding: 5px 10px;
      margin-bottom: 5px;
      background: #f2f8fc;
      display: block;
      color: #777;
      box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.5) inset;
      -moz-box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.5) inset;
      -webkit-box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.5) inset; } }
  .active a {
    background: #525e96;
    color: #fff;
    border-color: #525e96; } }

.assessment-progress {
  float: right;
  font-size: 11px;
  color: #777;
  padding-top: 1px; }

.side-nav .active .assessment-progress {
  color: #ddd; }

.questionnaire {
  .priority, .preparedness {
    width: 15%; }
  .question {
    border-right: 0; }
  .question-info {
    width: 6%;
    border-left: 0;
    text-align: center; } }

.info-bubble {
  position: relative;
  text-align: center; }

.info-bubble-text {
  display: none;
  position: absolute;
  z-index: 5;
  width: 200px;
  text-align: left;
  font-size: 11px;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #eee;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#fafafa));
  background-image: -moz-linear-gradient(center top, white, #fafafa);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 1px 0 2px rgba(255, 255, 255, 0.25) inset;
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 1px 0 2px rgba(255, 255, 255, 0.25) inset;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 1px 0 2px rgba(255, 255, 255, 0.25) inset;
  &:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-bottom: 5px solid white;
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -13px; }
  &:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-bottom: 5px solid white;
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -13px;
    border-bottom-color: #ccc;
    top: -11px; } }

.questionnaire {
  position: relative; }

.uploading {
  opacity: 0;
  display: block;
  position: absolute;
  z-index: 3;
  right: -22px;
  margin-top: -30px;
  height: 20px;
  width: 20px;
  background: url("../images/icon-check.png") no-repeat;
  text-indent: -9999px; }

.top-nav {
  margin: 15px -10px 0 10px;
  clear: both;
  overflow: hidden;
  li {
    list-style: none;
    float: left;
    a {
      list-style: none;
      display: block;
      float: left;
      padding: 5px 10px;
      color: #444;
      box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.5) inset;
      -moz-box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.5) inset;
      -webkit-box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.5) inset;
      &:hover {
        background: #cee1f3;
        cursor: pointer; } } }
  .active a {
    background: #28387D;
    color: #fff;
    border-color: #525e96;
    &:hover {
      background: #525e96;
      color: #fff;
      border-color: #525e96; } }
  .assesment-na a {
    color: #999;
    &:hover {
      background: none; } } }

.critical-function-toggle {
  padding: 15px;
  color: #fff;
  background: #525e96;
  clear: both;
  label { display: inline; }
  .js & input[type=submit] { display: none; }
}

.questions {
  margin-bottom: 20px; }

.question {
  padding: 20px;
  clear: both;
  border-bottom: 1px solid #ccc;
  zoom: 1;
  z-index: 1;
  background: #fff;
  background-image: -webkit-gradient(linear, left top, left 150, from(white), to(#dddddd));
  background-image: -moz-linear-gradient(0% 100% 90deg, #dddddd, white);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dddddd');
  &.focus {
    background: #fff;
    border-bottom: 1px solid #ccc; }
  &.not-applicable {
    background: #eee;
    color: #ccc;
    h3 {
      background: #eee;
      color: #ccc; } }
  &.answered {
    background: #fff;
    &.not-applicable {
      background: #eee; } }
  input[type=submit].linklike { color: #666; }
  .response {
    float: left;
    margin-right: 20px;
    padding: 10px;
    padding-left: 30px;
    width: 90px;
    height: 50px;
    margin-bottom: 20px;
    &.answered {
      background: url("../images/icon-check.png") no-repeat 0px center; } }
  .explain {
    float: left;
    width: 200px;
    padding-top: 10px;
    background: #fff;
    color: #777; }
  table {
    border: none;
    background: none;
    outline: none;
    height: auto;
    margin: 10px 0;
    td {
      border: none;
      background: none;
      outline: none;
      height: auto;
      padding: 5px 0; }
    tr:hover td {
      background: none; } }
  .answer {
    width: 500px;
    float: left;
    margin-right: 20px; }
  .prompt {
    border: none;
    padding-left: 0;
  }
  .prompt { margin-left: 150px; }
}

/*  Org Admin */

.admin-actions {
  form {
    float: left;
    margin-right: 10px;
  }
}

/*  Assess Admin  */

.edit_question label {
  font-weight: bold; }

.readiness-intro {
  font-size: 16px; }

.urgent {
  text-transform: uppercase;
  color: #b3a212;
  background: #fffce0;
  font-size: 9px;
  padding: 2px 4px;
  letter-spacing: 1px;
  font-weight: bold;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px; }

.add-actionitem, .add-resource, .add-need {
  border: 1px solid #777; }

.add-actionitem thead, .add-resource thead, .add-need thead {
  background-color: #888;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#aaaaaa), to(#777777));
  background-image: -moz-linear-gradient(100% 100% 90deg, #777777, #aaaaaa); }

.add-actionitem thead td, .add-resource thead td, .add-need thead td {
  background: none;
  border: 1px solid #777; }

.actionitems {
  .updated {
    font-size: 80%;
    color: #777;
    text-transform: uppercase;
    padding-top: 1px;
    width: 75px; }
  .status {
    font-size: 80%;
    color: #777;
    text-transform: uppercase;
    padding-top: 1px;
    width: 75px;
    width: 95px; }
  .complete td a.button {  
    background-color: #84983D;
    background-image: -moz-linear-gradient(100% 100% 90deg, #84983D, #A8B653);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#84983D), to(#A8B653));
    border: 1px solid #84983D;} }

.add-actionitem {
  .description input {
    width: 190px; }
  .item input {
    width: 400px; }
  .assigned input, .due {
    width: 120px; }
  .priority {
    width: 105px; }
  .add-button input {
    width: 30px; } }

.actionitems .due, .grid_9 table input {
  width: 100px; }

.add-resource {
  .source input {
    width: 80px; }
  .title input {
    width: 135px; }
  .description input {
    width: 180px; } }

.needs {
  .status {
    font-weight: bold; }
  .activity {
    color: #777; } }

.add-need .description input {
  width: 500px; }

.editable {
  padding-right: 20px;
  /*  background: url("../images/icon-pencil.png") right top no-repeat; */ }

.filter {
  text-align: right;
  padding-top: 10px;
  input.filter-query {
    width: 200px;
    margin-left: 10px; } }

.progress-container {
  float: right;
  text-align: center; }

.progress {
  position: relative;
  z-index: 1;
  background: #f2f8fc;
  text-align: center;
  text-shadow: 0 2px #fff;
  padding: 5px;
  border: 1px solid #bbb;
  width: 200px;
  float: right; }

.progress-complete {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  z-index: 2;
  background: #cbe2f2 url("../images/bg-progress.png"); }

.progress-percent {
  position: relative;
  z-index: 3;
  color: #525e96;
  font-weight: bold; }

.progress-sub {
  clear: both;
  color: #999; }

.create-comment {
  input[type="text"] {
    width: 270px; }
  textarea {
    width: 590px; } }

.button, a.button, input[type="submit"] {
  text-decoration: none;
  border: 1px solid #C31D29;
  padding: 5px 8px;
  font-weight: bold;
  vertical-align: middle;
  cursor: pointer;
  color: #FFF;
  font-size: 12px;
  text-decoration: none;
  letter-spacing: normal;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #C31D29;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 0.25)), to(#c31d29));
  background-image: -moz-linear-gradient(center top, rgba(255, 255, 255, 0.25), #c31d29);
  box-shadow: 0 1px 1px 1px rgba(255, 255, 255, 0.25) inset;
  -moz-box-shadow: 0 1px 1px 1px rgba(255, 255, 255, 0.25) inset;
  -webkit-box-shadow: 0 1px 1px 1px rgba(255, 255, 255, 0.25) inset;
  &:disabled {
    opacity: 0.3;
  }
}

.button.weak, a.button.weak, input[type="submit"].weak {
  background: #999;
  font-weight: normal;
  border: none; }

.button.white, a.button.white, input[type="submit"].white {
  color: #333;
  background-color: #eee;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#eeeeee));
  background-image: -moz-linear-gradient(center top, white, #eeeeee); }

.button.blue, a.button.blue, input[type="submit"].blue {
  background-color: #525e96;
  background: -webkit-gradient(linear, left top, left bottom, from(#525e96), to(#28387d));
  background: -moz-linear-gradient(top, #525e96, #28387d); }

.button.green, a.button.green {
  background-color: #84983d;
  border: 1px solid #84983d;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a8b653), to(#84983d));
  background-image: -moz-linear-gradient(100% 100% 90deg, #84983d, #a8b653); }

input {
  &[type="submit"].green {
    background-color: #84983d;
    border: 1px solid #84983d;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a8b653), to(#84983d));
    background-image: -moz-linear-gradient(100% 100% 90deg, #84983d, #a8b653); }
  &.button {
    padding: 5px 8px; } }

.button-join, a.button-join {
  padding: 10px 20px;
  display: block;
  text-align: center;
  font-size: 22px;
  font-family: "AdelleRegular";
  margin: -10px 0 20px;
  background-color: #84983d;
  border: 1px solid #84983d;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a8b653), to(#84983d));
  background-image: -moz-linear-gradient(100% 100% 90deg, #84983d, #a8b653); }

.rounded {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

table .selector {
  width: 95px;
  margin: 0 -5px 0 -7px;
  span {
    width: 70px; } }

.ui-datepicker {
  z-index: 3;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  cursor: default;
  display: none;
  margin-top: 12px;
  background: #f3f3f3;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#eaeaea));
  background-image: -moz-linear-gradient(100% 100% 90deg, white, #eaeaea);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0px 1px 2px white inset;
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0px 1px 2px white inset;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0px 1px 2px white inset;
  border: 1px solid #ccc;
  padding: 5px;
  width: 175px; }

.ui-datepicker-prev {
  display: block;
  width: 4px;
  height: 7px;
  float: left;
  margin: 9px 5px 0;
  cursor: pointer;
  background: url("../images/icon-arrows.png") no-repeat;
  text-indent: -9999px; }

.ui-datepicker-next {
  display: block;
  width: 4px;
  height: 7px;
  float: left;
  margin: 9px 5px 0;
  cursor: pointer;
  background: url("../images/icon-arrows.png") no-repeat;
  text-indent: -9999px;
  float: right;
  background-position: -4px 0; }

.ui-datepicker-title {
  text-align: center;
  padding: 3px 0 6px; }

.ui-datepicker-month {
  margin-right: 5px; }

.due {
  position: relative;
  z-index: 1; }

.ui-datepicker-trigger {
  float: right;
  position: absolute;
  z-index: 1;
  margin: 3px 0 0 -28px;
  border: none;
  background: none; }

input.datepicker, table input.datepicker {
  width: 90px; }

.ui-datepicker-calendar {
  border: none; }

.ui-datepicker {
  tr {
    border: none; }
  thead, th {
    border: none;
    background: none;
    color: #777; }
  td {
    border: 1px solid #DDD;
    text-align: center;
    padding: 6px 0 5px;
    background: #fafafa;
    height: auto;
    box-shadow: 0px 1px 0 1px white inset;
    -moz-box-shadow: 0px 1px 0 1px white inset;
    -webkit-box-shadow: 0px 1px 0 1px white inset;
    &.ui-datepicker-other-month {
      background: #f3f3f3; }
    &.ui-datepicker-current-day {
      background: #C31D29;
      box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.5) inset;
      -moz-box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.5) inset;
      -webkit-box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.5) inset;
      a {
        color: #fff; } } } }

.alert-emergency {
  margin: -10px 20px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  -moz-border-radius: 5px;
  background: #fafafa url("../images/icon-weather.png") 10px 10px no-repeat;
  box-shadow: 0px 1px 2px #fff inset;
  -moz-box-shadow: 0px 1px #fff inset;
  -webkit-box-shadow: 0px 1px 2px #fff inset;
  p {
    margin: 10px;
    padding-left: 25px; } }

.flash-notice {
  margin: -10px 20px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  -moz-border-radius: 5px;
  background: #9ccb83 url("../images/icon-notice.png") 10px 10px no-repeat;
  box-shadow: 0px 1px 2px #fff inset;
  -moz-box-shadow: 0px 1px #fff inset;
  -webkit-box-shadow: 0px 1px 2px #fff inset;
  p {
    margin: 10px;
    padding-left: 25px; } }

.flash-warning {
  margin: -10px 20px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  -moz-border-radius: 5px;
  background: #e1e591 url("../images/icon-warning.png") 10px 10px no-repeat;
  box-shadow: 0px 1px 2px #fff inset;
  -moz-box-shadow: 0px 1px #fff inset;
  -webkit-box-shadow: 0px 1px 2px #fff inset;
  p {
    margin: 10px;
    padding-left: 25px; } }

.flash-error {
  margin: -10px 20px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  -moz-border-radius: 5px;
  background: #f4aaa1 url("../images/icon-error.png") 10px 10px no-repeat;
  box-shadow: 0px 1px 2px #fff inset;
  -moz-box-shadow: 0px 1px #fff inset;
  -webkit-box-shadow: 0px 1px 2px #fff inset;
  p {
    margin: 10px;
    padding-left: 25px; } }

.swatches {
  list-style: none;
  margin-bottom: 10px;
  display: block;
  padding: 5px 10px;
  color: #777;
  background: #e2e2e2;
  text-shadow: 0 2px 1px #fff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 15px;
  box-shadow: 0 1px 1px 1px rgba(255, 255, 255, 0.25) inset;
  -moz-box-shadow: 0 1px 1px 1px rgba(255, 255, 255, 0.25) inset;
  -webkit-box-shadow: 0 1px 1px 1px rgba(255, 255, 255, 0.25) inset;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0)));
  background-image: -moz-linear-gradient(100% 100% 90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9));
  em {
    font-size: 34px;
    display: block;
    font-style: normal;
    font-weight: bold; } }

.action-items-swatch {
  float: left;
  width: 23%;
  margin-right: 2%; }

.swatch-learn span {
  color: #fe9a04; }

.swatch-explore span {
  color: #525e96; }

.swatch-join span {
  color: #a6ce40; }

.swatch-support span {
  color: #c31d29; }

.list-actionitems, .list-resources {
  list-style: none; }

.list-actionitems li, .list-resources li {
  margin: 5px 0 10px; }

.list-join {
  margin-left: 10px;
  li {
    list-style: none;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #eee;
    &:last-child {
      border: none; } } }

.list-kb {
  h3 {
    font-size: 14px; }
  article {
    margin-bottom: 15px; } }

/* Assesment Intro */

.checklist {
  list-style: none;
  margin-bottom: 20px; }

.asses.checklist {
  margin: 0; }

.asses-actions {
  text-align: right; }

.logos {
  overflow: hidden;
  margin-bottom: 50px;
  p {
    margin: 0;
    padding: 0; }
  img {
    padding-right: 10px; } }

.button.reassessment_button {
  position: relative;
  left: 10px;
  top: -13px;
}

/* To-dos */
.todo-details {
  ul { list-style: none; }
  li { display: inline;
    font-size: 125%;
    select { padding: 10px; } }
  .attributes {
    clear: both; margin-bottom: 30px;
    li { display: inline-block; margin-right: 40px; }
    li.complete { float: right; }
  }
  .todo-description {
    float: left;
    width: 700px;
    display: block;
    margin-bottom: 30px;
  }
  .actions { float: left; margin-right: 0.5em; }
  .field { clear: left; }
}

.short-details { 
  margin: 0 10px 30px;
  .icon { 
    float: left;
    padding: 8px 8px 8px 0;} }

td.action {white-space: nowrap;}

.todo-submit {
  position: absolute;
  right: 20px;
  bottom: 35px;
}

#todo_user_id {
  max-width: 100px;
}

input[type="submit"].todo-note-submit {
  padding-left: 0;
  background: none;
  border: none;
  color: #C31D29;
  font-weight: normal;}

.log {
  ol { margin-bottom: 0px; }
  li { list-style: none; margin-bottom: 5px; }
  form, .add { margin-left: 10px; margin-bottom: 20px; }
  .field { margin-bottom: 0; }
}

.todo-nav {
  position: absolute;
  bottom: 0px;
  right: 185px;
}

/* Sticky Footer */

.wrapper {
  min-height: 100%; }

.content {
  padding-bottom: 20px; }

footer {
  position: relative;
  margin-top: -30px;
  height: 30px;
  clear: both;
  nav li {
    float: left;
    margin-right: 20px; } }

/*Battle Buddies*/

.map_canvas_container {
  width: 270px; }

#map_canvas {
  height: 200px;
  clear: both;
  width: 270px;
  margin: 0 auto;
  margin-bottom: 20px; }

#map_canvas_large {
  height: 500px;
  clear: both;
  width: 270px;
  margin: 0 auto;
  margin-bottom: 20px; }

.map-address {
  text-align: left;
  margin-bottom: 20px; }

.buddy {
  margin-bottom: 20px;
  clear: both;
  .badge {
    float: left;
    height: 60px;
    text-align: center;
    width: 65px; } }

.buddies .buddy:last-child {
  margin: 0; }

h2.buddy {
  clear: both;
  padding: 0;
  margin-bottom: 10px; }

h3 {
  &.buddy {
    clear: both;
    padding: 0;
    margin-bottom: 20px; }
  &.nopad {
    padding: 0; } }
.buddies {
  h4 { 
    padding: 5px 65px 10px;
  }
  ul {
    list-style: none;
    padding: 0 50px;
  }
  li {
    display: inline-block;
    margin: 0 5px;
  }
}

.button.buddy-action {
  width: 100px;
  text-align: center;
  margin-bottom: 5px; }

.resource {
  margin-bottom: 20px;
  clear: both;
  &.offer {
    margin-bottom: 20px;
    clear: both; } }

.resource-form {
  padding: 10px;
  background: #cee1f3;
  .field {
    margin-bottom: 10px; } }

.top-nav {
  &.battle, &.settings {
    margin-bottom: 10px;
    border-bottom: 1px solid #525e96; } }

.buddy-filter {
  background: #cee1f3;
  padding: 10px;
  margin-bottom: 20px; }

table#messages {
  border: none;
  border-top: 1px solid #999;
  margin-bottom: 10px;
  p {
    margin: 0;
    margin-bottom: 10px; }
  tr {
    border-bottom: 1px solid #ccc; }
  td {
    padding: 10px;
    border: none;
    &.badge {
      text-align: center;
      padding-top: 20px;
      vertical-align: top;
      width: 5%;
      .date {
        color: #777; }
      .message_delete input[type="submit"] {
        font-size: .75em;
        padding: 3px 5px;}}
    &.from {
      vertical-align: top;
      width: 35%; }
    &.body {
      width: 60%;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      hyphens: auto;
      -ms-hyphens: auto;
      word-break: break-word;
      -ms-word-break: break-word;
    }
    textarea {
      width: 95%;
      height: 100px;
      margin-bottom: 10px; } } }

#messages-nav { text-align: right; }

#distress-switch {
  box-shadow: 0 1px 1px 1px rgba(255, 255, 255, 0.25) inset;
  padding: 5px;
  background: #ccc;
  color: #333;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  &.on {
    background: #C31D29;
    color: #fff; 
  }
  span#distress-status { font-weight: bold; } 
  .join_button { padding: 15px; } 
  .crisis-vis {
    left: 30px;
    position: absolute;
    top: 60px;
    a { color: white;  } }
  #crisis-deactivate {
    background: none;
    box-shadow: none;
    color: #C4C4C4;
    width: 100%;  }
}

#distress-switch:hover {
  .crisis-vis {
    a{ color: #C31D29; }
  }
}

#some-buddies {
  background: #ccc;
  padding: 10px; }

#crisis-visibility, #battle-buddies {
  .js & #battle-buddies-list {
    display: none;
  }
}

/*Crises*/

.needs .need_call {
  padding: 0;
  .need_description {
    font-weight: bold;
    font-size: 1.1em;
  }
  .need_provided { color: #ccc; }
}

.crisis_advice {
  p { margin: 10px 10px 10px 0; }
}

/*Library (knowledgebase)*/

input.library-search {
  width: 75%; }

ul.library {
  margin: 10px;
  li {
    list-style-type: none;
    margin-bottom: 5px; } }

.library-sidebar {
  padding: 10px;
  background: #F3F3F3;
  border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px solid #eee;
  box-shadow: 0px 1px 2px white inset;
  -moz-box-shadow: 0px 1px 2px white inset;
  -webkit-box-shadow: 0px 1px 2px white inset;
  p:last-child {
    margin: 0; } }

table {
  &#edit_todos, &#edit_questions {
    border: none; }
  &#edit_todos tr, &#edit_questions tr {
    border-bottom: 1px solid #ccc; }
  &#edit_todos tr.expanded {
    td, &:hover td {
      background: #fff; } }
  &#edit_questions tr.expanded {
    td, &:hover td {
      background: #fff; } }
  &#edit_todos td, &#edit_questions td {
    text-align: left;
    padding: 10px;
    border: none; }
  &#edit_todos td.respond, &#edit_questions td.respond {
    width: 100px;
    text-align: left; }
  &#edit_todos td .edit label, &#edit_questions td .edit label {
    font-weight: bold; }
  &#edit_todos td .edit p, &#edit_questions td .edit p {
    margin-bottom: 20px; }
  &#edit_todos td .edit {
    input[type="text"], textarea {
      width: 600px; } }
  &#edit_questions td .edit {
    input[type="text"], textarea {
      width: 600px; } }
  &#edit_todos td .delete, &#edit_questions td .delete {
    float: right; } 
  .icon{ 
    text-align: center;
    white-space: nowrap;} }
.articles td{ border: none; }

td.actions {
  text-align: right; }

table#payments {
  th { padding: 1em; }
  td { padding: 1em; }
  td {
    padding: 1em;
    text-align: right;
    vertical-align: top;
    &.datetime {
      white-space: nowrap;
    }
    &.notes {
      text-align: left;
    }
    &.actions {
      .button:not(:last-child) {
        margin-bottom: 1em;
      }
    }
  }
}

.todo-details h3, .todo-logs h3 {
  margin: 0;
  padding: 0; }

/* Landing page home#index */

#landing {
  #headline {
    font-size: 15px;
    text-align: right;
    font-family: "AdelleRegular";
    h1 {
      color: #241b73;
      font-size: 22px; } }
  #subhead {
    margin-bottom: 30px; }
  h2 {
    border-bottom: 1px solid #EEE;
    margin-bottom: 5px;
    padding-bottom: 5px; } }

h3 {
  border-bottom: 1px solid #EEE;
  margin-bottom: 5px;
  padding-bottom: 5px; }

#landing #dont-risk-it {
  height: 275px;
  background: url("../images/dont-risk-it.jpg") center bottom no-repeat;
  margin: 0 10px 20px;
  h1, p {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif; }
  h1 {
    padding-top: 20px;
    text-shadow: #000 2px 2px 5px; }
  p {
    font-size: 17px;
    margin-bottom: 20px; }
  .button {
    margin-top: 30px;
    font-size: 17px;
    width: 200px;
    padding: 10px 10px; } }

.template-preview {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px;
  background: #f2f8fc;

  .subject {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    font-size: 1.4rem;
    font-weight: bold;
  }

  ul, ol {
    list-style-position: inside;
  }
}