<% if current_org.declared_crisis? %>
<div id="distress-switch" class="on" style="float:left;">
  <span style="float:left;">Crisis Mode: <span id="distress-status">ON</span> &nbsp;</span>
  <%= form_for(current_org.crisis, :html => {:method => :delete}) do |f| %>
  <%= f.submit 'De-activate', :class => 'button white', :id => 'crisis-deactivate' %>
  <% end %>
  <span><%= link_to "Privacy: #{current_org.crisis.visibility.humanize}", edit_crisis_path(current_org.crisis) %></span>
</div>
<% else %>
<div id="distress-switch" style="float:left;">
  <span style="float:left;">Crisis Mode: <span id="distress-status">OFF</span> &nbsp;</span>
  <%= link_to('Activate', new_crisis_path, :class => 'button', :html => { :style => 'float:left;'}) %>
</div>
<% end %>