<h1>Edit Billing Information</h1>

<div class="grid_12 alpha">
  <%= render :partial => '/shared/settings_navbar', :locals => {:current_settings_tab => :billing} %>
</div>

<div class="grid_8">
  <%= render 'form' %>
</div>
