<div class="grid_12">
  <h1><%= @page.title rescue 'Page Not Found' %></h1>
</div>

<div class="grid_12">
  <%= @page.to_html rescue "No page found" %>
</div>

<div class="grid_8">
  <%= render 'form' %>
</div>
