<h1>Organization</h1>

<div class="grid_12 alpha">
  <%= render :partial => '/shared/settings_navbar', :locals => {:current_settings_tab => :billing} %>
</div>

<div class="grid_8">
  <section class="billing_info">
    <% if @subscription && @subscription.active? %>
      <%= render 'shared/billing_info' %>

      <p>
        <%= link_to "Update Billing/Payment Information", edit_billing_path %>
      </p>
    <% else %>
      <p>You are not subscribed for automatic
        renewal.  <%= link_to "Set up your billing information now!", new_billing_path %></p>
    <% end %>
  </section>
</div>
