<div id="landing">
  <div class="grid_6">

    <div id="headline">
      <p>Create your arts organization's business continuity plan, because the
        unexpected, won't-happen-to-me,<br/> I-don't-want-to-think-about-it
        actually <i>does</i> happen.</p>

      <h1>Be ArtsReady.</h1>
    </div>

    <div id="subhead">
      <h2>What is ArtsReady?</h2>

      <p>ArtsReady is a web-based emergency preparedness platform designed to
        provide arts and cultural organizations with customized business
        continuity plans for post crisis
        sustainability.
        <a href="/page/tour">Learn More.</a>
      </p>
    </div>

    <div class="grid_3 alpha">
      <h3>Why do readiness planning?</h3>
      <ul class="list-join">
        <li>To protect community and cultural assets.</li>
        <li>To demonstrate sustainability to investors.</li>
        <li>To show mitigated risk to insurance companies.</li>
        <li>To be able to get up and running after crisis.</li>
      </ul>
    </div>
    <div class="grid_3 omega">
      <h3>Acts of Violence – Safety Procedures</h3>

      <p>
        Last week’s horrific events in Paris remind us that cultural
        gathering spaces can be targets of violence. While we hope you
        will never experience an act of violence at your organization,
        our partners at ArtsReady have an array of resources to help
        your organization improve its security and to train your
        staff/volunteers in key safety procedures.
        <br>
        <a href="https://www.artsready.org/home/public_article/805">
          Read more…
        </a>
      </p>
      <!--
      <p>
        Staff should become familiar with this
        <a href="https://www.artsready.org/home/public_article/387">
          bomb threat checklist provided by the FBI,
        </a>
        and keep it posted near the main phone lines in both
        administrative and box office/guest service areas to use in
        the event of a bomb threat. The information collected through
        the checklist can be highly valuable to the police/first
        responders.
      </p>

      <p>
        Make sure you have a rigorous walkthrough process of your
        facility particularly on open/event days. Your staff,
        volunteers and patrons should regularly be reminded “If you
        see something, say something.” The FBI provides this guidance
        <a href="https://www.artsready.org/home/public_article/803">
          for suspicious activity,
        </a> <a href="https://www.artsready.org/home/public_article/389">
          suspicious mail/packages,
        </a> and monitoring your site’s
        <a href="https://www.artsready.org/home/public_article/804">
          physical security.
        </a>
      </p>

      <p>The U. S. Department of Homeland Security has published the booklet
        <a href="https://www.artsready.org/home/public_article/732">
          “Active Shooter – How to Respond.”
        </a>
        The booklet contains advice on individual responses including
        evacuation and hiding out, as well as guidance on training
        your staff on how to prepare and respond. An array of other
        training resources is available through
        <a href="https://www.artsready.org/home/public_article/DHS">DHS,</a>
        including the
        <a href="https://www.artsready.org/home/public_article/735">
          90-minute Active Shooter Webinar,
        </a>
        which describes three types of active shooters—workplace/school,
        criminal, and ideological—and how their planning cycles and
        behaviors differ.
      </p>

      <p>
        The Los Angeles County Sheriff’s Department has produced a video
        <a href="https://www.artsready.org/home/public_article/734">
          Surviving an Active Shooter
        </a>
        (which is very graphic) portraying a number of different types
        of active shooter scenarios and how to protect yourself and
        those around you. The portrayals are very realistic and
        demonstrate the best actions to take in different situations.
        As the LACSD video states, “Even though the number of Active
        Shooter events has been increasing, your odds of being
        involved in one are still very slim. But just like fire
        drills and earthquake preparedness, making a plan in advance
        can make all the difference.” We hope you never need to
        utilize this information, but want you to be prepared for
        any possible “What if…” scenarios.
      </p>

      <p>
        And finally, even in the midst of terror,
        <a href="http://www.independent.co.uk/arts-entertainment/music/news/paris-attacks-the-story-behind-the-pianist-who-drove-400-miles-to-play-imagine-outside-the-bataclan-a6735786.html">
          the arts help provide refuge and healing.
        </a>
      </p>
      -->
    </div>
  </div>
  <div class="grid_6">
    <div id="dont-risk-it">
      <h1>Don't risk it.</h1>

      <p>Get a free Basic Membership to
        <i>start protecting your organization!</i></p>

      <p><%= link_to "Join the Movement", sign_up_path, :class => 'button button-join' %></p>
    </div>
    <hgroup><h2>ArtsReady Library Features</h2></hgroup>
    <section>
      <% @featured_articles.each do |article| %>
        <article>
          <h3><%= link_to article.title, public_article_path(:id => article) %></h3>
        </article>
      <% end %>
    </section>
  </div>
</div>
