<div id="landing">
  <div class="grid_6">

      <div id="headline">
        <p>Create your arts organization's business continuity plan, because the unexpected, won't-happen-to-me,<br /> I-don't-want-to-think-about-it actually <i>does</i> happen.</p>
        <h1>Be ArtsReady.</h1>
      </div>

    <div id="subhead">
      <h2>What is ArtsReady?</h2>
      <p>ArtsReady is a web-based emergency preparedness platform designed to provide arts and cultural organizations with customized business continuity plans for post crisis sustainability. <%= link_to 'Learn More', page_path('tour') %>.</p>
    </div>

    <div class="grid_3 alpha">
      <section>
        <h3><br />Why do readiness planning?</h3>
        <ul class="list-join">
          <li>To protect community and cultural assets.</li>
          <li>To demonstrate sustainability to investors.</li>
          <li>To show mitigated risk to insurance companies.</li>
          <li>To be able to get up and running after crisis.</li>
        </ul>
      </section>
    </div>
    <div class="grid_3 omega">
      <h3>Why did the Orchestra of the Southern Finger Lakes join ArtsReady?</h3>
      <blockquote>
        <p>"A driver either lost control of the car or the accelerator stuck and he crashed through the front of our offices… there was a huge explosion, fumes and smoke and burning rubber ...This demonstrates how fragile things can be. There's nothing in the handbook about something like this … ArtsReady could be a great resource for people in a spot like we were in."</p>
        - Janet T. Newcomb, Former Executive Director (NY)
      </blockquote>
    </div>
  </div>
  <div class="grid_6">
    <div id="dont-risk-it">
      <h1>Don't risk it.</h1>
      <p>Get a free Basic Membership to <i>start protecting your organization!</i></p>
      <p><%= link_to "Join the Movement", sign_up_path, :class => 'button button-join' %></p>
    </div>
    <hgroup><h2>ArtsReady Library Features</h2></hgroup>
    <section>
      <% @featured_articles.each do |article| %>
      <article>
        <h3><%= link_to article.title, public_article_path(:id => article) %></h3>
      </article>
      <% end %>
    </section>
  </div>
</div>
