<div id="landing">
  <% if @page %>
    <%= raw(@page.body) %>
  <% else %>
  <div class="grid_6">

    <div id="headline">
      <p>Create your arts organization's business continuity plan, because the
        unexpected, won't-happen-to-me,<br/> I-don't-want-to-think-about-it
        actually <i>does</i> happen.</p>

      <h1>Be ArtsReady.</h1>
    </div>

    <div id="subhead">
      <h2>What is ArtsReady?</h2>

      <p>ArtsReady is a web-based emergency preparedness platform designed to
        provide arts and cultural organizations with customized business
        continuity plans for post crisis
        sustainability.
        <a href="/page/tour">Learn More.</a>
      </p>
    </div>

    <div class="grid_2 alpha">
      <h3>Why do readiness planning?</h3>
      <ul class="list-join">
        <li>To protect community and cultural assets.</li>
        <li>To demonstrate sustainability to investors.</li>
        <li>To show mitigated risk to insurance companies.</li>
        <li>To be able to get up and running after crisis.</li>
      </ul>
    </div>
    <div class="grid_4 omega">

      <p>
        <b>If the Show Can't Go On - Will You Recover?</b><br/>
        <b>Winter Storm Jonas 2016 hits box office hard.</b><br/>
      </p>

      <p>
        As the east coast braced for Winter Storm Jonas the weekend of
        January 22, 2016, presenters and artists with scheduled events
        were likely faced with the questions, “What is our cancellation
        policy? Are we ready to put it into action? And can we survive
        the possible financial impact?” Those with clear cancellation
        plans almost certainly found ease from the stress of having to
        create one off the cuff, and only needed to take on the task of
        implementing it, giving them a jump start on the ultimate goal
        of mitigating losses.
        <a href="https://www.artsready.org/home/public_article/821">
          Read more…
        </a>
      </p>
    </div>
  </div>
  <% end %>
  <div class="grid_6">
    <div id="dont-risk-it">
      <h1>Don't risk it.</h1>

      <p>Get a free Basic Membership to
        <i>start protecting your organization!</i></p>

      <p><%= link_to "Join the Movement", sign_up_path, :class => 'button button-join' %></p>
    </div>
    <hgroup><h2>ArtsReady Library Features</h2></hgroup>
    <section>
      <% @featured_articles.each do |article| %>
        <article>
          <h3><%= link_to article.title, public_article_path(:id => article) %></h3>
        </article>
      <% end %>
    </section>
  </div>
</div>
