<div id="landing">
  <div class="grid_6">

      <div id="headline">
        <p>Create your arts organization's business continuity plan, because the unexpected, won't-happen-to-me,<br /> I-don't-want-to-think-about-it actually <i>does</i> happen.</p>
        <h1>Be ArtsReady.</h1>
      </div>

    <div id="subhead">
      <h2>What is ArtsReady?</h2>
      <p>ArtsReady is a web-based emergency preparedness platform designed to provide arts and cultural organizations with customized business continuity plans for post crisis sustainability. <%= link_to 'Learn More', page_path('tour') %>.</p>
    </div>

    <div class="grid_2 alpha">
        <h3>Why do readiness planning?</h3>
        <ul class="list-join">
          <li>To protect community and cultural assets.</li>
          <li>To demonstrate sustainability to investors.</li>
          <li>To show mitigated risk to insurance companies.</li>
          <li>To be able to get up and running after crisis.</li>
        </ul>
    </div>
    <div class="grid_4 omega">
      <h3>May Day Preparedness</h3>
      <blockquote>
        <p>
          The Baltimore Symphony Orchestra was just one of countless
          arts organizations impacted by recent civil unrest. Due to
          official curfews, they’ve had to cancel or reschedule a
          number of events. They also stepped forward, as artists
          often do, to unify their community. On April 29, they held the
          <a href="https://www.facebook.com/media/set/?set=a.10153205957659019.1073741840.6592449018&type=1">#BSOPeace concert</a>
          outdoors for free because
          “<a href="https://www.facebook.com/BSOmusic/posts/10153203745749019">we
          could all use a little music in our lives right about now.</a>”
          And, indeed, it brought hundreds of people together for a
          shared arts experience.
        </p>

        <p>
          May Day is a national day to encourage preparedness. Any of
          us may experience a crisis that impacts our artwork, our
          organization, our community. Are you ready? Do you have a
          plan and know how you would respond to the unexpected? How
          would you share important news with your constituents in
          the immediacy of the moment? ArtsReady encourages you to
          develop, or enhance, your readiness plan. Start today, work
          on a little bit at a time, and you can then say
          “Yes! We’re ready!”
          <a href="https://www.artsready.org/sign_up">Learn more.</a>
        </p>
      </blockquote>
    </div>
  </div>
  <div class="grid_6">
    <div id="dont-risk-it">
      <h1>Don't risk it.</h1>
      <p>Get a free Basic Membership to <i>start protecting your organization!</i></p>
      <p><%= link_to "Join the Movement", sign_up_path, :class => 'button button-join' %></p>
    </div>
    <hgroup><h2>ArtsReady Library Features</h2></hgroup>
    <section>
      <% @featured_articles.each do |article| %>
      <article>
        <h3><%= link_to article.title, public_article_path(:id => article) %></h3>
      </article>
      <% end %>
    </section>
  </div>
</div>
