<div id="landing">
  <div class="grid_6">

      <div id="headline">
        <p>Create your arts organization's business continuity plan, because the unexpected, won't-happen-to-me,<br /> I-don't-want-to-think-about-it actually <i>does</i> happen.</p>
        <h1>Be ArtsReady.</h1>
      </div>

    <div id="subhead">
      <h2>What is ArtsReady?</h2>
      <p>ArtsReady is a web-based emergency preparedness platform designed to provide arts and cultural organizations with customized business continuity plans for post crisis sustainability. <%= link_to 'Learn More', page_path('tour') %>.</p>
    </div>

    <div class="grid_2 alpha">
        <h3>Why do readiness planning?</h3>
        <ul class="list-join">
          <li>To protect community and cultural assets.</li>
          <li>To demonstrate sustainability to investors.</li>
          <li>To show mitigated risk to insurance companies.</li>
          <li>To be able to get up and running after crisis.</li>
        </ul>
    </div>
    <div class="grid_4 omega">
      <h3>A journey of a thousand miles...</h3>

      <p>
        An ArtsReady step a week, or even a step a month, means you’ll be that
        much more prepared in a year. September is National Preparedness Month.
        National Preparedness Month (NPM), established by
        <a href="http://www.fema.gov/">FEMA</a> in 2004, encourages you to
        prepare for emergencies in your home and business. One of NPM’s main
        focuses is on your organizations’ buoyancy after a crisis - advocating
        preparation as your best practice.
      </p>

      <p>
        ArtsReady offers these four fairly simple, straightforward elements
        you can implement to make your staff, visitors and venue safer and more
        secure. Try to implement one or more of these in the next month!
      </p>

      <p>
        #1 – Don’t think it can’t happen to you! You may not be in a hurricane
        zone or flood plain, but we bet you have a toilet. And it can do some
        wicked damage, as it did to the
        <a href="http://winnipeg.ctvnews.ca/royal-winnipeg-ballet-studios-archives-severely-damaged-by-flooding-1.2553700">
          Royal Winnipeg Ballet.
        </a>
        ArtsReady’s primary principle is “all hazards planning.” Don’t plan for
        the type of crisis – plan to protect your most precious assets and
        operations from any type of crisis.
        <a href="https://www.artsready.org/home/public_article/794">
          Read more&hellip;
        </a>
      </p>
    </div>
  </div>
  <div class="grid_6">
    <div id="dont-risk-it">
      <h1>Don't risk it.</h1>
      <p>Get a free Basic Membership to <i>start protecting your organization!</i></p>
      <p><%= link_to "Join the Movement", sign_up_path, :class => 'button button-join' %></p>
    </div>
    <hgroup><h2>ArtsReady Library Features</h2></hgroup>
    <section>
      <% @featured_articles.each do |article| %>
      <article>
        <h3><%= link_to article.title, public_article_path(:id => article) %></h3>
      </article>
      <% end %>
    </section>
  </div>
</div>
