<div id="landing">
  <div class="grid_6">

    <div id="headline">
      <p>Create your arts organization's business continuity plan, because the
        unexpected, won't-happen-to-me,<br/> I-don't-want-to-think-about-it
        actually <i>does</i> happen.</p>

      <h1>Be ArtsReady.</h1>
    </div>

    <div id="subhead">
      <h2>What is ArtsReady?</h2>

      <p>ArtsReady is a web-based emergency preparedness platform designed to
        provide arts and cultural organizations with customized business
        continuity plans for post crisis
        sustainability.
        <a href="/page/tour">Learn More.</a>
      </p>
    </div>

    <div class="grid_2 alpha">
      <h3>Why do readiness planning?</h3>
      <ul class="list-join">
        <li>To protect community and cultural assets.</li>
        <li>To demonstrate sustainability to investors.</li>
        <li>To show mitigated risk to insurance companies.</li>
        <li>To be able to get up and running after crisis.</li>
      </ul>
    </div>
    <div class="grid_4 omega">

      <p>
        <b>Professional Development Session</b><br/>
        <b>“Baltimore: Where the Arts Unify”</b><br/>
        <b>Sunday, January 17, 2016 @ APAP|NYC</b>
      </p>
      <p>
        Artists and arts spaces often offer comfort and balance in the
        wake of a community crisis. In spring 2015 Baltimore artists
        immediately stepped up to bring residents together in response
        to protests to the death of Freddie Gray. From the Baltimore
        Symphony Orchestra’s #BSOPeace outdoor concerts, to the arts
        interventions of community artists through the Baltimore’s
        Peace of Art movement, local artists empowered citizens to
        unite and to peacefully speak out. We’ll explore not only what
        worked, but why. Presenters and artists can nurture relationships
        and perspectives that can connect with and engage with their
        communities in times of anxiety, when they’re needed most.
      </p>
    </div>
  </div>
  <div class="grid_6">
    <div id="dont-risk-it">
      <h1>Don't risk it.</h1>

      <p>Get a free Basic Membership to
        <i>start protecting your organization!</i></p>

      <p><%= link_to "Join the Movement", sign_up_path, :class => 'button button-join' %></p>
    </div>
    <hgroup><h2>ArtsReady Library Features</h2></hgroup>
    <section>
      <% @featured_articles.each do |article| %>
        <article>
          <h3><%= link_to article.title, public_article_path(:id => article) %></h3>
        </article>
      <% end %>
    </section>
  </div>
</div>
