<% assessment.get('sections').each(function(section) { %>
  <li class="<%= section.isCurrent() ? 'active' : null %>">
    <a href="<%= window.location.pathname %>?tab=<%= section.get('name') %>">
      <%= section.escape('title') %>
    </a>
  </li>
<% }); %>
