<p class="progress" style="float:left;">
  <span class="progress-complete" style="right:<%= 100 - percent %>%"></span>
  <span class="progress-percent"> <%= message %> <%= percent || 0 %>% complete</span>
</p>

