<article>
  <h3><%= link_to '1 Battle Buddy in Need', 'wireframe/battlebuddies_help' %></h3>
  <p><br /><strong><%= link_to '954 Dance Movement Collective', "/wireframe/battlebuddies_buddy?title=954 Dance Movement Collective" %></strong><br />
  "Thanks so much for everyone's response..."</p>
  <p><time>Yesterday</time></p>
</article>
