<section class="readiness-intro">
  <h2>Welcome Back!</h2>
  <p style="margin-bottom:20px;">Continue with your organization's readiness planning, check out your Critical Stuff, or just browse the Library for the latest additions.</p>
  <p style="width:50%;">
    <%= link_to "Continue &raquo;".html_safe , todos_path, :class => "button button-join"  %>
  </p>
</section>
