<% if current_org.declared_crisis? %>
<div id="distress-switch" class="on" style="float:left;">
  Crisis Mode: <span id="distress-status">ON</span> &nbsp;
  <%= form_for(current_org, :url => resolve_crisis_organization_path(current_org)) do |f| %>
  <%= f.submit 'De-activate', :class => 'button white', :id => 'crisis-deactivate' %>
  <% end %>
</div>
<% else %>
<div id="distress-switch" style="float:left;">
  Crisis Mode: <strong>OFF</strong> &nbsp;
  <%= form_for(current_org, :url => declare_crisis_organization_path(current_org)) do |f| %>
  <%= f.submit 'Activate', :class => 'button', :id => 'crisis-activate' %>
  <% end %>
</div>
<% end %>
