<div class="in-distress rounded" style="float:<%= defined?(float) ? float : 'right' %>;padding:15px;background:#C31D29;color:#fff;">
  Crisis Mode: <strong>ON</strong> &nbsp;
  <%= button_to_function 'De-activate', "", :class => 'button white' %>
</div>