<section class="readiness-intro">
  <h2>Our mission is to help arts organizations plan for the best, and prepare for the worst.</h2>
  <p style="margin-bottom:20px;">In less than 1 hour you’ll have a list of ways to prepare for emergencies and and a comprehensive todo list to get your team on the same page.</p>
  <p style="width:50%;">
    <%= link_to "Get Started &raquo;".html_safe , new_assessment_path, :class => "button button-join"  %>
  </p>
</section>
