<p class="progress" style="float:left;">
  <span class="progress-complete" style="right:<%= (100-percent.to_i) %>%"></span>
  <span class="progress-percent"> <%= "#{message} #{percent}" %>% complete</span>
</p>
