--- 
http_interactions: 
- request: 
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=100%20Test%20St,%20New%20York,%20NY,%2010001&language=en&sensor=false
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=UTF-8
      Alternate-Protocol: 
      - 80:quic
    body: 
      encoding: US-ASCII
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Test Kitchen",
                       "short_name" : "Test Kitchen",
                       "types" : [ "point_of_interest", "establishment" ]
                    },
                    {
                       "long_name" : "88",
                       "short_name" : "88",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "West Broadway",
                       "short_name" : "W Broadway",
                       "types" : [ "route" ]
                    },
                    {
                       "long_nam[...]
[...]
- request: 
    method: post
    uri: https://test.authorize.net/gateway/transact.dll
    body: 
      encoding: US-ASCII
      string: x_duplicate_window=0&x_first_name=Bill&x_last_name=Lastname&x_company=My+Org&x_address=100+Test+St&x_city=New+York&x_state=NY&x_zip=10001&x_country=United+States&x_email=billing%40example.com&x_method=CC&x_card_num=4007000000027&x_exp_date=0127&x_card_code=888&x_amount=300.00&x_type=AUTH_ONLY&x_delim_char=%2C&x_delim_data=TRUE&x_login=7932FsrFV&x_tran_key=6UeP6mu624N7uc4Y&x_relay_response=FALSE&x_version=3.1&x_test_request=FALSE
    headers: 
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/html
    body: 
      encoding: US-ASCII
      string: 1,1,1,This transaction has been approved.,4Q13ZE,Y,2212301935,,,300.00,CC,auth_only,,Bill,Lastname,My Org,100 Test St,New York,NY,10001,United States,,,billing@example.com,,,,,,,,,,,,,,99B93C9C97EDDD9BEB353818AED094AE,P,2,,,,,,,,,,,XXXX0027,Visa,,,,,,,,,,,,,,,,
  recorded_at: Tue, 19 Mar 2024 05:00:05 GMT
- request: 
    method: post
    uri: https://apitest.authorize.net/xml/v1/request.api
    body: 
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="utf-8"?>
        <ARBCreateSubscriptionRequest xmlns="AnetApi/xml/v1/schema/AnetApiSchema.xsd">
          <merchantAuthentication>
            <name>7932FsrFV</name>
            <transactionKey>6UeP6mu624N7uc4Y</transactionKey>
          </merchantAuthentication>
          <subscription>
            <name>ArtsReady Yearly Subscription</name>
            <paymentSchedule>
              <interval>
                <length>365</length>
                <unit>days</unit>
              </interval>
              <startDate>2024-03-20</startDate>
              <totalOccurrences>9999</totalOccurrences>
              <trialOccurrences>1</trialOccurrences>
            </paymentSchedule>
            <amount>225.0</amount>
            <trialAmount>300.0</trialAmount>
            <payment>
              <creditCard>
                <cardNumber>4007000000027</cardNumber>
                <expirationDate>2027-01</expirationDate>
                <cardCode>888</cardCode>
              </creditCard>
            </payment>
            <order>
              <description>My Org subscription for ArtsReady</description>
            </order>
            <customer>
              <email>billing@example.com</email>
            </customer>
            <billTo>
              <firstName>Bill</firstName>
              <lastName>Lastname</lastName>
              <company>My Org</company>
              <address>100 Test St</address>
              <city>New York</city>
              <state>NY</state>
              <zip>10001</zip>
              <country>United States</country>
            </billTo>
          </subscription>
        </ARBCreateSubscriptionRequest>

    headers: 
      Content-Type: 
      - text/xml
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml; charset=utf-8
    body: 
      encoding: ASCII-8BIT
      string: "\xEF\xBB\xBF<?xml version=\"1.0\" encoding=\"utf-8\"?><ARBCreateSubscriptionResponse xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns=\"AnetApi/xml/v1/schema/AnetApiSchema.xsd\"><messages><resultCode>Ok</resultCode><message><code>I00001</code><text>Successful.</text></message></messages><subscriptionId>2071981</subscriptionId></ARBCreateSubscriptionResponse>"
  recorded_at: Tue, 19 Mar 2024 05:00:06 GMT
- request: 
    method: post
    uri: https://apitest.authorize.net/xml/v1/request.api
    body: 
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="utf-8"?>
        <ARBGetSubscriptionStatusRequest xmlns="AnetApi/xml/v1/schema/AnetApiSchema.xsd">
          <merchantAuthentication>
            <name>7932FsrFV</name>
            <transactionKey>6UeP6mu624N7uc4Y</transactionKey>
          </merchantAuthentication>
          <subscriptionId>2071981</subscriptionId>
        </ARBGetSubscriptionStatusRequest>

    headers: 
      Content-Type: 
      - text/xml
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml; charset=utf-8
    body: 
      encoding: ASCII-8BIT
      string: "\xEF\xBB\xBF<?xml version=\"1.0\" encoding=\"utf-8\"?><ARBGetSubscriptionStatusResponse xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" note=\"Status with a capital 'S' is obsolete.\" xmlns=\"AnetApi/xml/v1/schema/AnetApiSchema.xsd\"><messages><resultCode>Ok</resultCode><message><code>I00001</code><text>Successful.</text></message></messages><status>active</status><Status>active</Status></ARBGetSubscriptionStatusResponse>"
  recorded_at: Sat, 03 May 2014 06:22:47 GMT
- request: 
    method: post
    uri: https://apitest.authorize.net/xml/v1/request.api
    body: 
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="utf-8"?>
        <ARBCancelSubscriptionRequest xmlns="AnetApi/xml/v1/schema/AnetApiSchema.xsd">
          <merchantAuthentication>
            <name>7932FsrFV</name>
            <transactionKey>6UeP6mu624N7uc4Y</transactionKey>
          </merchantAuthentication>
          <subscriptionId>2071981</subscriptionId>
        </ARBCancelSubscriptionRequest>

    headers: 
      Content-Type: 
      - text/xml
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml; charset=utf-8
    body: 
      encoding: ASCII-8BIT
      string: "\xEF\xBB\xBF<?xml version=\"1.0\" encoding=\"utf-8\"?><ARBCancelSubscriptionResponse xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns=\"AnetApi/xml/v1/schema/AnetApiSchema.xsd\"><messages><resultCode>Ok</resultCode><message><code>I00001</code><text>Successful.</text></message></messages></ARBCancelSubscriptionResponse>"
  recorded_at: Sat, 03 May 2014 06:22:48 GMT
recorded_with: VCR 2.9.0
