--- 
http_interactions: 
- request: 
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=100%20Test%20St,%20New%20York,%20NY,%2010001&language=en&sensor=false
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=UTF-8
      Alternate-Protocol: 
      - 80:quic
    body: 
      encoding: US-ASCII
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Test Kitchen",
                       "short_name" : "Test Kitchen",
                       "types" : [ "point_of_interest", "establishment" ]
                    },
                    {
                       "long_name" : "88",
                       "short_name" : "88",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "West Broadway",
                       "short_name" : "W Broadway",
                       "types" : [ "route" ]
                    },
                    {
                       "long_nam[...]
[...]
- request: 
    method: post
    uri: https://apitest.authorize.net/xml/v1/request.api
    body: 
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="utf-8"?>
        <ARBCreateSubscriptionRequest xmlns="AnetApi/xml/v1/schema/AnetApiSchema.xsd">
          <merchantAuthentication>
            <name>7932FsrFV</name>
            <transactionKey>6UeP6mu624N7uc4Y</transactionKey>
          </merchantAuthentication>
          <subscription>
            <name>ArtsReady Yearly Subscription</name>
            <paymentSchedule>
              <interval>
                <length>365</length>
                <unit>days</unit>
              </interval>
              <startDate>2022-06-02</startDate>
              <totalOccurrences>9999</totalOccurrences>
              <trialOccurrences>1</trialOccurrences>
            </paymentSchedule>
            <amount>225.0</amount>
            <trialAmount>300.0</trialAmount>
            <payment>
              <creditCard>
                <cardNumber>5555555555554444</cardNumber>
                <expirationDate>2022-06</expirationDate>
                <cardCode>888</cardCode>
              </creditCard>
            </payment>
            <order>
              <description>My Org subscription for ArtsReady</description>
            </order>
            <customer>
              <email>billing@example.com</email>
            </customer>
            <billTo>
              <firstName>Bill</firstName>
              <lastName>Lastname</lastName>
              <company>My Org</company>
              <address>100 Test St</address>
              <city>New York</city>
              <state>NY</state>
              <zip>10001</zip>
              <country>United States</country>
            </billTo>
          </subscription>
        </ARBCreateSubscriptionRequest>

    headers: 
      Content-Type: 
      - text/xml
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml; charset=utf-8
    body: 
      encoding: ASCII-8BIT
      string: "\xEF\xBB\xBF<?xml version=\"1.0\" encoding=\"utf-8\"?><ARBCreateSubscriptionResponse xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns=\"AnetApi/xml/v1/schema/AnetApiSchema.xsd\"><messages><resultCode>Ok</resultCode><message><code>I00001</code><text>Successful.</text></message></messages><subscriptionId>2087230</subscriptionId></ARBCreateSubscriptionResponse>"
  recorded_at: Wed, 01 Jun 2022 04:00:00 GMT
- request: 
    method: post
    uri: https://apitest.authorize.net/xml/v1/request.api
    body: 
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="utf-8"?>
        <ARBGetSubscriptionStatusRequest xmlns="AnetApi/xml/v1/schema/AnetApiSchema.xsd">
          <merchantAuthentication>
            <name>7932FsrFV</name>
            <transactionKey>6UeP6mu624N7uc4Y</transactionKey>
          </merchantAuthentication>
          <subscriptionId>2087230</subscriptionId>
        </ARBGetSubscriptionStatusRequest>

    headers: 
      Content-Type: 
      - text/xml
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml; charset=utf-8
    body: 
      encoding: ASCII-8BIT
      string: "\xEF\xBB\xBF<?xml version=\"1.0\" encoding=\"utf-8\"?><ARBGetSubscriptionStatusResponse xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" note=\"Status with a capital 'S' is obsolete.\" xmlns=\"AnetApi/xml/v1/schema/AnetApiSchema.xsd\"><messages><resultCode>Ok</resultCode><message><code>I00001</code><text>Successful.</text></message></messages><status>active</status><Status>active</Status></ARBGetSubscriptionStatusResponse>"
  recorded_at: Wed, 21 May 2014 17:51:22 GMT
- request: 
    method: post
    uri: https://apitest.authorize.net/xml/v1/request.api
    body: 
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="utf-8"?>
        <ARBCancelSubscriptionRequest xmlns="AnetApi/xml/v1/schema/AnetApiSchema.xsd">
          <merchantAuthentication>
            <name>7932FsrFV</name>
            <transactionKey>6UeP6mu624N7uc4Y</transactionKey>
          </merchantAuthentication>
          <subscriptionId>2087230</subscriptionId>
        </ARBCancelSubscriptionRequest>

    headers: 
      Content-Type: 
      - text/xml
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml; charset=utf-8
    body: 
      encoding: ASCII-8BIT
      string: "\xEF\xBB\xBF<?xml version=\"1.0\" encoding=\"utf-8\"?><ARBCancelSubscriptionResponse xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns=\"AnetApi/xml/v1/schema/AnetApiSchema.xsd\"><messages><resultCode>Ok</resultCode><message><code>I00001</code><text>Successful.</text></message></messages></ARBCancelSubscriptionResponse>"
  recorded_at: Wed, 21 May 2014 17:51:23 GMT
recorded_with: VCR 2.9.0
