<p>Hello <%= @user.name %>!</p>

<p>The following item on ArtsReady for <%= @user.organization.name %> has been reassigned to another user: <%= @todo.action_description %></p>

<p>If you believe that this is in error, please contact your organization's administrator in charge
of these items.</p>

<p>To view this item, please click this link or copy and paste it in your browser:
<%= link_to @url, @url %></p>