<%= yield %>

ArtsReady is an initiative of <a href="http://www.southarts.org">South Arts</a> supported in part by the Mellon Foundation, the National Endowment for the Arts, and the Flagler Museum. If you received this email in error please contact admin@artsready.org.